<h2><%=l(:'daily_todos.title')%></h2>

<h3><%=l(:'daily_todos.entry.new')%></h3>

<%= render :partial => 'form' %>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'set_current_time', :plugin => 'redmine_daily_todos' %>
<% end %>

<%= javascript_tag "setCurrentTime();" %>